.loading-box{
    width: 100%;
    height: 100%;
    z-index: 10;
}
.loading-gif{
    width: 100px;
    position: absolute;
    top: 45%;
    left: 45%;
}
.main-div {
    width: 600px;
}
.start-text-box{
    width: 600px;
}

.start-box {
    transition: ease 5s;
}

.boat-image {
    width: 200px;
}

.boardDiv {
    border: 1px dashed rgb(133, 133, 133);
    width: 20px !important;
    height: 50px;
/*     padding-top: 10px;
 */    text-align: center;
    color: rgb(181, 181, 181);
    background-color: white;
}

.game-board {
    width: 80%;
}
.player-board{
    width: 550px !important;
}
.player-board div{
    
    pointer-events: none;
}

.carrier-ship {
    background-color: #000;
    width: 200px !important;
    height: 40px !important;
    border-radius: 10px;
}

.battelship-ship {
    background-color: #000;
    width: 160px;
    height: 40px;
    border-radius: 50%;
}

.destroyer-ship {
    background-color: #000;
    width: 120px;
    height: 40px;
    border-end-end-radius: 60%;
    border-top-right-radius: 60%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.submarine-ship {
    background-color: #000;
    width: 120px;
    height: 40px;
    border-end-end-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.patrol-ship {
    background-color: #000;
    width: 80px;
    height: 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 0;
}

.patrol-ship:after {
    position: absolute;
    transform: rotate(45deg);
    content: '';
    width: 28px;
    height: 28px;
    right: -15px;
    top: 6px;
    background-color: rgb(0, 0, 0);
    z-index:-1 ;
}

.ships {
    position: relative;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    color: rgb(218, 214, 208);
    text-decoration: none;


}

.ships:hover {
    color: bisque;
    font-size: 1.1rem;
    transition: ease-in .2s;

}

.popup-ship-location {
    
    background-color: rgba(40, 50, 50, 0.651);
    width: 100%;
    height: 100%;
}
.popup-ship-location > div {
    right: 0;
    width: 500px;
}

.cancel-btn{
    right : -20px !important;
    top: -20px;
}

.player-whose-turn {
    text-transform: uppercase;
}

.carrier,
.patrol,
.submarine,
.battelship,
.destroyer {
    background-color: blueviolet;
}

.correct {
    background-color: #0096ff;
    font-size: 1.5rem;
    color: white;

}

.incorrect {
    background-color: rgb(194, 52, 0);
    font-size: 1.9rem;
    color: white;
}

.disable-board {
    pointer-events: none;
    opacity: .5;
}

.pause-btn {
    font-size: 2rem;
    color: rgb(213, 192, 0);
    text-align: center;

}

.pause-btn:hover {
    font-size: 2.2rem;
    color: rgb(213, 177, 0);
    transition: ease .4s;
    cursor: pointer;
    text-align: center;

}

.continue-btn {
    font-size: 4rem;
    color: rgb(27, 128, 27);
    transition: ease 1s;

}

.continue-btn:hover {
    font-size: 4.5rem;
    color: rgb(19, 114, 19);
    cursor: pointer;

}
.pause-page{
    width: 100%;
    height: 100%;
}
.reset-game{
    background-color: rgb(59, 60, 60);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.8rem;
    color: rgb(220, 220, 220);
    text-align: center;
    padding: 15px;
    margin: 1px 2px 0 2px;
}

.reset-game:hover{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 60, 60);
    width: 65px;
    height: 65px;
    transition: ease .4s;
    cursor: pointer;
    text-align: center;
}