.main-div{
    width: 600px;
}
.start-box{    
    transition: ease 5s;
}

.boat-image{
    width: 200px;
}

.boardDiv{
    border: 1px solid rgb(133, 133, 133);
    width: 20px !important;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    color: rgb(181, 181, 181);
}
.game-board{
    width: 80%;
    display: none;
}
.player-board{
    width: 550px !important
}
.ships{
    position: relative;
}
.carrier-ship{
    background-color: #000;
    width: 200px !important;
    height: 40px !important;
}

.battelship-ship{
    background-color: #000;
    width: 160px;
    height: 40px;
    border-radius: 50%;
}
.destroyer-ship{
    background-color: #000;
    width: 120px;
    height: 40px;
}
.submarine-ship{
    background-color: #000;
    width: 120px;
    height: 40px;
}
.patrol-ship{
    background-color: #000;
    width: 80px;
    height: 40px;
}
.ships{
    text-transform: uppercase;
}
.ships a{
    color: bisque;
    text-decoration: none;
    transition: ease-in .2s;
}
.ships a:hover{
    color: bisque;
    font-size: 1.1rem;
}
.popup-ship-location {
    display: none;
}
.player-whose-turn{
    text-transform: uppercase;
}

.carrier, .patrol, .submarine, .battelship, .destroyer{
    background-color: blueviolet;
}